{% extends 'base.html' %}

{% block title %}Lista de Heróis{% endblock %}

{% block content %}
<h2 class="mb-4">Heróis cadastrados</h2>
<a href="{% url 'criar_heroi' %}" class="btn btn-success mb-3">Novo Herói</a>
<div class="list-group">
  {% for hero in herois %}
  <div class="list-group-item">
    <h5>{{ hero.codinome }}</h5>
    <p>{{ hero.poder }}</p>
    <small class="text-muted">{{ hero.cidade }}</small>
  </div>
  {% empty %}
  <p>Nenhum herói encontrado.</p>
  {% endfor %}
</div>
{% endblock %}