{% load static %}
<nav class="navbar-custom navbar navbar-expand-lg">
  <div class="d-flex align-items-center">
    <img src="{% static 'img/logo.png' %}" class="brand-logo" alt="LogoSuperBook">
    <span class="brand-title d-none d-sm-inline">SuperBook</span>
  </div>

  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
    <li class="nav-item">
      <a href="{% url 'lista_herois' %}" class="nav-link">Heróis</a>
    </li>
    <li class="nav-item">
      <a href="{% url 'lista_posts' %}" class="nav-link">Posts</a>
    </li>
    <li class="nav-item">
      <a href="{% url 'lista_viloes' %}" class="nav-link">Vilões</a>
    </li>
  </ul>

  {% if user.hero.imagem %}
    <img src="{{ user.hero.imagem.url }}" class="profile-pic" alt="">
  {% endif %}
</nav>